# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages in Data Science
- Commonly used libraries
- Data Science Tools
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scipy

| Data Science Tools |
| ------------- |
| Jupyter Notebook |
|R Studio |
| Anaconda |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Alejandro Tarazona